* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
    height: 100vh;
    font-family: 'Comfortaa', sans-serif;
}

#nav-bar {
    top:0;
    position: sticky;
    height: 80px;
    width: 100vw;
    background-image: linear-gradient(#000000, #222222);
    display: flex;
}

#nav-bar ul {
    position: absolute;
    right: 110px;
    display: inline-block;
    flex-wrap: nowrap;
    height: 50px;
    margin-top: 14px;
}

#nav-bar li {
    display: inline-block;
    margin: 0 35px;
    padding: 14px;
}

#nav-bar a {
    text-decoration-line: none;
    color: white;
    font-size: 1.3em;
    height: 100%;
    width: 100%;
}

#nav-bar .underline:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

#nav-bar h2 {
    display: inline-block;
    color: #f5f5f5;
    margin-left: 60px;
    margin-top: 28px;
    font-size: 1.4em;
}

#projects-btn {
    background-color: #ea3f8c;
    color: #ffffff;
    border-radius: 10px;
    padding: 0px 10px;
    letter-spacing: 1px;
}

#projects-btn:hover {
    background-color: #c90c7d;
}

#info {
    height: 390px;
    width: 750px;
    background: rgba(34, 34, 34, 0.99);
    border: 1px solid transparent;
    border-radius: 55px;
    margin-top: 15vh;
    margin-left: 17vh;
}

#intro {
    margin-top: 50px;
    margin-left: 60px;
}

#info h1 {
    font-family: 'Orbitron', sans-serif;
    color: #3cc18e;
    font-size: 4.6em;
    margin-left: -4px;
}

#info h2 {
    color: #ffffff;
    font-size: 1.7em;
    line-height: 145%;
}

.pink-text {
    color: #ea3f8c;
}

.teal-text {
    color: #40d69d;
}

#more-btn {
    margin-top: 45px;
}

#read-more {
    text-decoration: none;
    color: #000000;
    padding: 15px;
    background-color: #8cfe48;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

#read-more:hover {
    background-color: #73fe1f;
}

#footer {
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #222222;
    height: 25px;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
}