* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
    height: 100%;
    font-family: 'Comfortaa', sans-serif;
}

::-webkit-scrollbar {
    background: #000000;
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    background: #000000;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #8cfe48);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #8cfe48;
}

::-webkit-scrollbar-corner {
    background: #222222;
    border-radius: 0px;
}

a {
    color: inherit;
}

#nav-bar {
    top:0;
    position: sticky;
    height: 80px;
    width: 100%;
    background-image: linear-gradient(#000000, #222222);
    display: flex;
}

#nav-bar ul {
    position: absolute;
    right: 120px;
    display: inline-block;
    flex-wrap: nowrap;
    height: 50px;
    margin-top: 14px;
}

#nav-bar li {
    display: inline-block;
    margin: 0 35px;
    padding: 14px;
}

li a {
    display: block;
    position: relative;
    text-decoration-line: none;
    color: white;
    font-size: 21px;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #ea3f8c;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.underline:hover::after,
.underline:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

#nav-bar h2 {
    display: inline-block;
    color: #f5f5f5;
    margin-left: 60px;
    margin-top: 28px;
    font-size: 29px;
}

#projects-btn {
    background-color: #ea3f8c;
    color: #ffffff;
    border-radius: 10px;
    letter-spacing: 1px;
}

#projects-btn:hover {
    background-color: #c90c7d;
}

#info {
    width: 780px;
    background-image: linear-gradient(#000000, #222222);
    border: 3px solid #222222;
    border-radius: 60px;
    margin-top: 15vh;
    margin-left: 17vh;
}

#intro {
    margin: 50px 0 50px 70px;
}

#info h1 {
    font-family: 'Orbitron', sans-serif;
    color: #3cc18e;
    font-size: 4.6em;
    margin-left: -4px;
}

#info h2 {
    color: #ffffff;
    font-size: 1.7em;
    line-height: 145%;
}

.pink-text {
    color: #ea3f8c;
}

.teal-text {
    color: #40d69d;
}

button {
    background-color: #8cfe48;
    color: inherit;
    border: none;
    padding: 20px;
    margin-top: 25px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    background-color: #73fe1f;
}

#footer {
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #222222;
    height: 25px;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
}