* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    background: #000000;
    font-family: 'Comfortaa', sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #ffffff;
}

::-webkit-scrollbar {
    background: #222222;
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #3cc18e;
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-corner {
    background: #000000;
}

a {
    color: #ffffff;
}

#nav-bar {
    display: block;
    top:0;
    position: sticky;
    height: 80px;
    width: 100%;
    background-image: linear-gradient(#000000, #222222);
    z-index: 100;
}

#nav-bar ul {
    position: absolute;
    right: 114px;
    display: inline-block;
    flex-wrap: nowrap;
    height: 50px;
    margin-top: 14px;
}

#nav-bar li {
    display: inline-block;
    margin: 0 35px;
    padding: 14px;
}

#nav-bar a {
    text-decoration-line: none;
    color: white;
    font-size: 21px;
    height: 100%;
    width: 100%;
}

li a {
    display: block;
    position: relative;
    text-decoration-line: none;
    color: white;
    font-size: 21px;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #ea3f8c;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.underline:hover::after,
.underline:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

#nav-bar h2 {
    display: inline-block;
    color: #f5f5f5;
    margin-left: 60px;
    margin-top: 28px;
    font-size: 29px;
}

#projects-btn {
    background-color: #c90c7d;
    color: #ffffff;
    border-radius: 10px;
    letter-spacing: 1px;
}

#projects-btn:hover {
    background-color: #c90c7d;
}

#header {
    text-align: center;
    margin-top: 90px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.pink-text {
    color: #ea3f8c;
}

.teal-text {
    color: #40d69d;
}

#projects {
    display: block;
    height: 100%;
    padding-bottom: 60px;
}

.project {
    margin: 45px auto 0px auto;
    max-width: 780px;
    min-width: 500px;
    height: auto;
    border: 3px solid #222222;
    border-radius: 50px;
    background-image: linear-gradient(#000000, #222222);
    padding: 34px 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.project h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 14px;
}

.project p {
    font-size: 16px;
    margin-bottom: 25px;
}

.bold {
    font-weight: bold;
}

.try-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.teal-try-button {
    text-align: center;
    background-color: #40d69d;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
}

.pink-try-button {
    text-align: center;
    background-color: #ea3f8c;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
}

#github a {
    text-decoration: none;
}

#github {
    width: 100%;
    height: 200px;
    background-color: #222222;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

#link a {
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
}

#github i, #github a {
    display: inline-block;
}

button {
    background-color: #8cfe48;
    color: inherit;
    border: none;
    padding: 0;
    margin-top: 40px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 10px;
    width: 160px;
    height: 56px;
}

button:hover {
    background-color: #73fe1f;
}

#footer {
    text-align: center;
    background-color: #222222;
    height: 25px;
    padding-top: 5px;
}