* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: 'Comfortaa', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    color: #ffffff;
    height: auto;
}

a {
    color: #ffffff;
}

#nav-bar {
    display: block;
    top:0;
    position: sticky;
    height: 80px;
    width: 100vw;
    background-image: linear-gradient(#000000, #222222);
    z-index: 100;
}

#nav-bar ul {
    position: absolute;
    right: 110px;
    display: inline-block;
    flex-wrap: nowrap;
    height: 50px;
    margin-top: 14px;
}

#nav-bar li {
    display: inline-block;
    margin: 0 35px;
    padding: 14px;
}

#nav-bar a {
    text-decoration-line: none;
    color: white;
    font-size: 1.3em;
    height: 100%;
    width: 100%;
}

#nav-bar .underline:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

#nav-bar h2 {
    display: inline-block;
    color: #f5f5f5;
    margin-left: 60px;
    margin-top: 28px;
    font-size: 1.4em;
}

#projects-btn {
    background-color: #ea3f8c;
    color: #ffffff;
    border-radius: 10px;
    padding: 0px 10px;
    letter-spacing: 1px;
}

#projects-btn:hover {
    background-color: #c90c7d;
}

#header {
    text-align: center;
    margin-top: 90px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.pink-text {
    color: #ea3f8c;
}

.teal-text {
    color: #40d69d;
}

#projects {
    display: block;
    height: 100%;
    padding-bottom: 60px;
}

.project {
    margin: 45px auto 0px auto;
    max-width: 780px;
    min-width: 500px;
    height: auto;
    border: 2px solid #222222;
    border-radius: 50px;
    background-image: linear-gradient(#000000, #222222);
    padding: 40px 50px;
}

.project h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    margin-bottom: 25px;
}

.bold {
    font-weight: bold;
}

#github a {
    text-decoration: none;
}

#github {
    width: 100%;
    height: 200px;
    background-color: #222222;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

#link a {
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
}

#github i, #github a {
    display: inline-block;
}

button {
    background-color: #8cfe48;
    color: inherit;
    border: none;
    padding: 0;
    margin-top: 40px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 10px;
    width: 160px;
    height: 56px;
}

button:hover {
    background-color: #73fe1f;
}

#footer {
    text-align: center;
    background-color: #222222;
    height: 25px;
    padding-top: 5px;
}