* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    background: #000;
    font-family: 'Comfortaa', sans-serif;
    width: 100%;
    overflow-x: hidden;
    color: #ffffff;
}

::-webkit-scrollbar {
    background: #222222;
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #3cc18e;
    border-radius: 10px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-corner {
    background: #000000;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    position: sticky;
    height: 80px;
    width: 100%;
    background-image: linear-gradient(#000000, #222222);
    z-index: 100;
}

#menu_icon {
    display: none;
}

#homepage_btn a {
    color: #f5f5f5;
    margin-left: 60px;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    padding-right: 10px;
}

#navigation_btns a {
    text-decoration: none;
    font-size: 22px;
    margin-right: 50px;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #ea3f8c;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.underline:hover::after,
.underline:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

#nav-bar h2 {
    display: inline-block;
    color: #f5f5f5;
    margin-left: 60px;
    margin-top: 28px;
    font-size: 29px;
}

#container_padding {
    padding: 0 20px;
}

.pink-text {
    color: #ea3f8c;
}

.teal-text {
    color: #40d69d;
}

img {
    display: block;
    height: 130px;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
}

#profile {
    margin-top: 120px;
    height: auto;
}

h2 {
    text-align: center;
    margin: 15px 0px;
    font-size: 25px;
}

#basics p {
    text-align: center;
    margin-top: 10px;
}

#fun-facts {
    margin-top: 50px;
    border: #ea3f8c;
    line-height: 1.7;
}

.pink-bp li::marker {
    color: #ea3f8c;
}

.teal-bp li::marker {
    color: #3cc18e;
}

#fun-facts p {
    margin-left: 20px;
}

#fun-facts h3 {
    margin-bottom: 10px;
}

.box {
    position: relative;
    max-width: 840px;
    border-radius: 50px;
    background-image: linear-gradient(#000000, #222222);
    border: 3px solid #222222;
    margin: 50px auto 70px;
    padding: 45px 50px;
}

.box h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.teal-underline {
    text-decoration: underline #3cc18e 2px;
    text-underline-offset: 3px;
}

.pink-underline {
    text-decoration: underline #ea3f8c 2px;
    text-underline-offset: 3px;
}

.box ul {
    margin-left: 30px;
    margin-top: 10px;
}

#container {
    display: flex;
    margin-left: 10px;
}

#skills, #databases, #frameworks {
    flex: 1;
    margin:  0px 25px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

a:hover {
    text-decoration: underline 2px;
}

#contact i, #contact h3, #gmail i, #gmail h3 {
    display: inline-block;
}

#gmail {
    margin: 40px 0;
}

.normal {
    font-weight: normal;
}

#contact-info {
    margin: 40px auto 0 auto;
    text-align: center;
    height: auto;
}

#footer {
    text-align: center;
    background-color: #222222;
    height: 25px;
    padding-top: 5px;
}

@media only screen and (max-width: 660px) {
    #container_padding {
        padding: 0 10px;
    }

    #profile {
        margin-top: 140px;
    }

    img {
        height: 160px;
        margin-top: -120px;
    }

    #basics h2 {
        font-size: 2.2rem;
    }

    #basics p {
        font-size: 1.4rem;
    }

    #fun-facts h3 {
        font-size: 1.6rem;
    }

    #fun-facts p {
        font-size: 1.2rem;
    }

    #skills, #databases {
        margin-bottom: 26px;
    }

    .box {
        padding: 40px 30px;
    }

    .box h2 {
        font-size: 1.8rem;
    }

    #container {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    #container .teal-text, #container .pink-text {
        font-size: 1.6rem;
    }

    #container ul li {
        font-size: 1.4rem;
    }

    #contact-info {
        font-size: 1.2rem;
    }
}

/* Navigation bar phone view */
@media only screen and (max-width: 900px) {
    #nav-bar {
        height: 100px;
    }

    #homepage_btn a {
        font-size: 34px;
    }

    #menu_icon {
        display: block;
        margin-right: 50px;
        color: #ffffff;
    }

    .invisible {
        display: none;
    }

    .active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 1);
        height: 100%;
        width: 100%;
        z-index: 10;
        position: fixed;
        top: 90px;
    }

    .active a {
        margin-bottom: 80px;
        padding: 10px;
        font-size: 30px !important;
        font-weight: 600;
        margin-right: 0 !important;
    }
}