.rain {
    position: absolute;
    height: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 10s linear infinite;
    z-index: -1;
}

.rain:nth-child(3n+1) {
    background: linear-gradient(transparent, #8cfe48);
}

.rain:nth-child(3n+2) {
    background: linear-gradient(transparent, #ea3f8c);
}

.rain:nth-child(3n+3) {
    background: linear-gradient(transparent, #3cc18e);
}

@keyframes animate {
    0% {
        -webkit-transform: translateY(-150px);
        -ms-transform: translateY(-150px);
        -moz-transform: translateY(-150px);
        -o-transform: translateY(-150px);
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateY(120vh);
        -ms-transform: translateY(120vh);
        -moz-transform: translateY(120vh);
        -o-transform: translateY(120vh);
        opacity: 0;
    }
}